body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}




.teste1 {
    position: absolute;
    border: 8px solid gray;
    margin-top: -5px;
    margin-left: 90px;
    width: 720px;
    height: 490px;
    border-radius: 15px;
    padding: 5px;

}

iframe {
    width: 720px;
    height: 380px;
}

/* #logoCanal {
    width: 100px;
    height: 30px;
    border: 1px solid red;
    flex-wrap: wrap;
    font-size: small;
    margin: 0;
    flex-direction: row;

} */

#logoCanalicone {
    position: relative;
    width: 25px;
    height: 28px;
    border-radius: 15px;

}

.logoCanal {
    display: flex;
    margin-left: 500px;
    width: 100px;
    height: 20px;
    flex-wrap: wrap;
    font-size: small;
    margin: 0;
    flex-direction: row;
    border: 1px solid blue;
}

#videosdolado {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#quase h5,
#quase h6{
    margin: 0;
}
#quase {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

#videosSugeridos {
    font-size: 13px;
    position: relative;
    left: 850px;

    width: auto;
    max-width: 350px;
    height: auto;
}


#capaVideos1 {
    display: flex;
    gap: 10px;
    padding: 10px;
    height: 100px;
    width: 150px;
    border-radius: 20px;
}

#tituloVideos1 {
    display: flex;
    flex-direction: row;
}


#descricaoVideosSugeridos1 {
    display: flex;
    flex-direction: row;
}

.capaVideos {
    display: flex;
    gap: 10px;
    padding: 10px;
    height: 100px;
    width: 150px;
    border-radius: 15px;
}

.tituloVideos {
    display: flex;
    flex-direction: row;
}

.descricaoVideosSugeridos {
    display: flex;
    flex-direction: row;
    /* margin-left: 90px;
    margin-top: -20px; */
}

#nsei {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 50px;
    justify-content: space-around;
}

.pera {
    display: flex;
    background-color: grey;
    border-radius: 15px;
    width: 90px;
    justify-content: center;

}